# Python-cache og miljø
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.ipynb_checkpoints/

# Bygg/artefakter
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Redaktør/OS
.DS_Store
.vscode/
.idea/

# DATA: ignorer alt i data/, men behold disse to CSV-ene
data/**
!data/train.csv
!data/test.csv
