# Python / notebooks
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtuelle miljøer
.venv/
venv/
env/

# Build/packaging
build/
dist/
*.egg-info/

# Data: ignorer alt i data/, men behold disse CSV-ene
data/*
!data/train.csv
!data/test.csv

# Artefakter: behold i Git
!results/
!results/**
!models/
!models/**
!submission.csv
